* {
    margin: 0;
    padding: 0;
}

html, body {
    width: 100%;
    height: 100%;
}

canvas {
    /* https://stackoverflow.com/a/8486324/8127729 */
    display: block;

    height: 100vh;
    width: 100vw;
}
